<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css-skeletons.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/jquery.auto-complete.css') }}" />
    <title>Hello</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand" style="background-color: #465828;">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <span class="navbar-brand fa fa-play fa-rotate-270" style="color:white;"></span>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="nav-text">Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-text">C</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-text">F</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-text">M</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid search-div">
        <h1>SEARCH LANGUAGE</h1>
        <form action="/search/" autocomplete="off" method="POST">
            <div class="autocomplete">
                <input type="text" id="search-box" name="searchbox" placeholder="Enter Language" name="search">
            </div>
                <input type="submit">
        </form>
        <h3 class="popular-text">POPULAR</h3>
    </div>
    <div class="container-fluid language-div">
        <h5>Language: Spanish </h5>
    </div>
    <div class="container-fluid" id="cards">
        <div class="skeleton skeleton-circle-multi-line" id="loading-skeleton" style="--c-s: 80px;
    --c-pos: top;–shine: rgba(255,255,255, 0.8);
    --lines: 5; --c-w: 100%; –t:1s ;display: none;"></div>
    </div>
    <div class="footer fixed-bottom faq-div">
        <h5>Frequent Questions</h5>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/jquery.auto-complete.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script type="text/javascript">
    var load_songs = function(url) {
            $.ajax({
                url: url,
                context: document.body,
                beforeSend: function() {
                    $("#loading-skeleton").show();
                },
                success: function(data) {
                    $.each(data, function() {
                        if (this.fields.Song) {
                            var song_name = this.fields.Song
                        } else {

                            var song_name = 'undefined';
                        }
                        if (this.fields.Genre) {
                            var genre = this.fields.Genre
                        } else {

                            var genre = 'undefined';
                        }
                        if (this.fields.Artist) {
                            var artist = this.fields.Artist
                        } else {

                            var artist = 'undefined';
                        }
                        if (this.fields.Year) {
                            var year = this.fields.Year
                        } else {

                            var year = 'undefined';
                        }
                        if (this.fields.Instrument) {
                            var instrument = this.fields.Instrument
                        } else {

                            var instrument = '';
                        }
                        if (this.fields.Language) {
                            var language = this.fields.Language
                        } else {

                            var language = 'undefined';
                        }
                        if (typeof this.fields.Picture != 'undefined') {
                            var picture = this.fields.Picture[0].url
                        } else {

                            var picture = 'https://via.placeholder.com/200';
                        }
                        if (this.fields.Style) {
                            var style = this.fields.Style
                        } else {

                            var style = 'undefined';
                        }
                        if (this.fields.Country) {
                            var country = this.fields.Country
                        } else {

                            var country = 'undefined';
                        }
                        var card = '<div class="card" style="width: 100%"><div class="row no-gutters"><div class="col-sm-4"> <img class="card-img card-img-top" src="' + picture + '" alt="' + song_name + '_img"></div><div class="col-sm-8"><div class="card-body"><div id="inlinespaced"><h5 class="card-title">' + song_name + '</h5><span class="fa fa-star checked"></span></div><p class="card-text">' + genre + '</p><div id="inline"><p class="card-text">' + song_name + ' (' + country + ')</p></div><div id="inlinespaced"><div id="inline"><p class="card-text">1993</p><p class="card-text" style="text-align: left">' + instrument + '</p></div><p class="card-text">' + country + '</p></div></div></div></div></div>';
                        $("#cards").append(card);
                    });
                    $("#loading-skeleton").hide();
                }
            });
        };
    $(document).ready(function() {
        load_songs("/api");
    });
    </script>
</body>

</html>