#nav-text{
	color: #FFF !important;
}
.navbar {
	padding-top: 0;
	padding-bottom: 2px;
}

#nav-brand-img{
	margin-bottom: -5px;
}

#inlinespaced{
	display: flex;
  	justify-content: space-between;
}

#inline {
	display: flex;
}

#inline > * + * {
	margin-left: 10px;
}

.wrapper {
    border:1px solid #000;
    display:inline-block;
    width: 80%;
}
#search-box{
	width: 85%;
}
@media only screen and (min-width: 768px) {
	.wrapper{
		width: 40%;
	}
	#search-box{
		width: 85%;
	}
}
input,
button {
    background-color:transparent;
    border:0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.language-div{
	background-color: #89c951;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	padding-top: 2%;
	padding-bottom: 1%;
}

.search-div{
	padding-top: 2%;
	text-align: center;
}

.search-div.h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}


.popular-text{
	padding-top: 3%;
	padding-bottom: 3%;
	color: #00000038;
	font-size: 14px;
}

.faq-div{
	background-color: #dd601d;
	color: #FFF;
	text-align: center;
	text-transform: capitalize;
	padding-top: 3%;
	padding-bottom: 0.5%;
}

.last-div{
	background-color: #465828;
	color: #FFF;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   	padding-top: 70px;
   	line-height: 1.25;
   	font-family: 'Open Sans', sans-serif;
}

p{
	margin-bottom: 0;
}
.spacer {
    flex: 1;
}
.inline-span{
	display:inline;
}
.song-name{
	display:inline;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.star{
	display:inline;
	float: right;
	margin-right: -5px;
}
.genre{
	display:inline;
	font-size: 13px;
	font-weight: 600;
}
.album{
	display:inline;
	font-size: 14px;
}
.year{
	display:inline;
	font-size: 13px;
}
.instrument{
	display:inline;
	font-size: 13px;
	padding-left: 10px;
}
.language{
	display:inline;
	font-size: 15px;
	float: right;
	font-weight: 600;
}
.single-card{
	padding: 8px;
	border-bottom: 1px solid #808080;
}
@media only screen and (min-width: 768px) {
	.single-card{
		width: 50%;
}