/*General page CSS start*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   	padding-top: 40px;
   	line-height: 1.25;
   	font-family: 'Roboto', sans-serif;
}

p{
	margin-bottom: 0;
}
.spacer {
    flex: 1;
}
.inline-span{
	display:inline;
}

#inlinespaced{
	display: flex;
  	justify-content: space-between;
}

#inline {
	display: flex;
}

#inline > * + * {
	margin-left: 10px;
}
/*General page CSS end*/

/*navbar section start*/
#nav-text{
	color: #FFF !important;
	font-weight: 700;
	font-size:19px;
}
.navbar {
	padding-top: 2px;
	padding-bottom: 2px;
}

#nav-brand-img{
	margin-bottom: 0px;
	padding-left: 8px;
}

.nav-popular{
	color:#89c951 !important;
}
/*navbar section end*/

/*Search box start*/
.search-div {
	padding-top: 40px;
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700;
}
.search-h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 17px !important;
}
.wrapper {
    border:1px solid rgb(190, 190, 190);
    display:inline-block;
	height:31px;
    width: 85%;
}

#search-box{
	width: 88%;
	font-size: 15px; 
}

@media only screen and (min-width: 600px) {
	.wrapper{
		width: 520px;
	}
}

input,
button {
    background-color:transparent;
    border:0;
	color:#B7B7B7;
	font-size: 19px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/*Search box end*/

.language-div{
	background-color: #89c951;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
	padding-bottom: 10px;
}

.language-strip{
	font-size:8px;
}
.language-choice{
	font-size:8px;
}
.popular-text{
	padding-top: 10px;
	padding-bottom: 20px;
	color: #00000038;
	font-size: 14px;
	font-weight: 700;
}

.faq-div{
	background-color: #dd601d;
	color: #FFF;
	text-align: center;
	text-transform: capitalize;
	font-weight: 900;
	height: 40px;
	padding-top: 40px;
	padding-bottom: 20px;
	
}

.faq-text{
	font-size: 8px !important;
}

.last-div{
	background-color: #465828;
	color: #FFF;
	text-align: center;
	height: 80px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.footer-img{
	height: 40px !important;
}


/*Card section start*/
.song-name{
	display:inline;
	
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.star{
	display:inline;
	float: right;
	margin-right: -5px;
}
.genre{
	display:inline;
	font-size: 13px;
	font-weight: 600;
}
.album{
	display:inline;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
.year{
	display:inline;
	font-size: 13px;
}
.instrument{
	display:inline;
	font-size: 13px;
	padding-left: 10px;
}
.language{
	display:inline;
	font-size: 14px;
	float: right;
	font-weight: 600;
}

.country{
	color: red;
	text-transform: uppercase;
}
.single-card{
	padding-bottom: 8px;
	padding-top: 10px;
	border-bottom: 1px solid #DADADA;
	display: table;
	width: 100%;
}

.card-left-col{
	display: table-cell;
	width: 80px;
}
.card-middle-col{
	display: table-cell;
	padding-left: 20px;
	padding-right: 12px;
}
@media only screen and (min-width: 600px) {
	.single-card {
		width: 580px;
	}
	.single-card .col-9{
		width: 85%;
	}
}*/
/*Card section end*/
